
<head>
   
</head>

<body>

    <div class="back">

        <div *ngIf="DatosService.data[0].datos.length > 0">

            <p>Datos cargados: </p>
            <table  mdbTable mdbTableScroll scrollY="true" scrollX="true" bordered="true" class="table">
                <thead>
                    <tr>
                        <th *ngFor="let label of DatosService.labels">{{label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of DatosService.data">
                        <td>{{ data.fileName}}</td>
                        <td *ngFor="let x of data.datos">
        <!--Esto solo llega hasta el length de ese data, por lo que no me va a rellenar con 0s, como cuadro el totaltime??-->
                            <ng-container *ngIf="x.length > 0">
                                <ng-container>{{ x[1]}}</ng-container>
                            </ng-container>
                            <ng-container *ngIf="x.length == 0"><!--Por lo tanto aquí nunca entra-->
                                <ng-container>{{0}}</ng-container>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>Gráfica de barras: </p>
            <div class="chart-container">
                <div class="chart" style="position: relative" id = "grafico">
                    <canvas baseChart = "col-md-6"
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        [colors]="barChartColors">
                    </canvas>
                </div>  
            </div>
            
             <!--<p>Métricas: </p>-->

                <div class="download mt-3 row justify-content-center">
                    <a href="#" (click)="expFile($event)"> EXPORT DATA</a>
                </div>

        </div>

        <div *ngIf="DatosService.data[0].datos.length == 0">
            <div class="mensaje">
                <h1>No hay datos</h1>
            </div>
        </div>

        <div class=" mt-3 row justify-content-center"> 
            <button [routerLink]="'/file-input'">Volver</button>
        </div>

    </div>

</body>
